﻿@{
    ViewBag.Title = "Create";
}

<h2>Registrar Postulante</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Postulante/create" method="post">

            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" name="Nombres" class="form-control" placeholder="Nombre" />
            </div>
            <div class="form-group">
                <label for="">Apellido Paterno:</label>
                <input type="text" name="ApellidoPaterno" class="form-control" placeholder="Apellido Paterno" />
            </div>

            <div class="form-group">
                <label for="">Apellido Materno:</label>
                <input type="text" name="ApellidoMaterno" class="form-control" placeholder="Apellido Materno" />
            </div>

            <div class="form-group">
                <label for="">Sexo:</label>
                <input type="text" name="Sexo" class="form-control" placeholder="Sexo" />
            </div>

            <div class="form-group">
                <label for="">Celular:</label>
                <input type="text" name="Celular" class="form-control" placeholder="Celular" />
            </div>

            <div class="form-group">
                <label for="">Correo Electronico:</label>
                <input type="text" name="CorreoElectronico" class="form-control" placeholder="Correo Electronico" />
            </div>

            <div class="form-group">
                <label for="">DNI:</label>
                <input type="text" name="DNI" class="form-control" placeholder="DNI" />
            </div>

            <button class="btn btn-primary">
                  <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Guardar</button>
             
             <a href="/Postulante/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>
        </form>
    </div>

</div>