﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>

    @*<%--AQUI PONEMOS LO DE BOOSTRAP--%>*@
   @* <%--CSS Bootstrap--%>*@
    <link href="~/Content/bootstrap.cosmo.min.css" rel="stylesheet" />


    <script src="/Scripts/jquery-1.9.1.min.js"></script>

   @*<%-- JS Bootstrap--%>*@
    <script src="/Scripts/bootstrap.min.js"></script>

<body>
    


    <nav class="navbar navbar-default">
		 <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span>
            <span class="icon-bar"></span></button>
            <a id="A1" class="navbar-brand" href="~/" runat="server">S.G. Contratos</a>
        </div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					
                        <li><a id="A2" runat="server" href="~/">Inicio</a></li>
                        <li><a id="A3" runat="server" href="~/About">Acerca de</a></li>
                        <li><a id="A4" runat="server" href="~/Contact">Contacto</a></li>
                     
                           
				</ul>
			</div>
		</div>
	</nav>
    
    <footer>
         
    </footer>
  
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>


</html>
